*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.image-container {
    margin: 0 auto;
    max-width: 500px;
    
    
    position: relative;
    margin-top: 3rem;
}

button {
    position: absolute;
   background-color: rgb(94, 212, 94);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
   border-radius: 10px;
  font-size: 16px;
}

button.next {
    right: -20%;
    top: 50%;
}

button.previous {
    left: -20%;
    top: 50%;
}

img {
    width: 100%;

}